@import "tailwindcss";
@import "./tokens.css";
@import "./transitions.css";
@import "./form.css";

@media (prefers-reduced-motion) {
  * {
    transition: none !important;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@utility overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  overflow-y: auto;

  & > *:first-child {
    position: relative;
    padding-top: var(--space-header);
    background: var(--color-white);
    min-height: 100vh;
  }

  &.overlay-enter-active,
  &.overlay-leave-active {
    transition:
      transform 0.3s,
      opacity 0.15s;
  }

  &.overlay-enter-from {
    transform: translateY(100%);
  }
  &.overlay-leave-to {
    opacity: 0;
  }

  &.overlay-placeholder {
    display: none;
  }

  .overlay-close {
    cursor: pointer;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: rgba(185, 185, 185, 0.5);
    backdrop-filter: blur(var(--blur-DEFAULT));
    height: 300px;
  }
}

.zoom-in-enter-active,
.zoom-in-leave-active {
  transition: all 0.3s var(--ease);
  top: 0;
  left: 0;
  width: 100svw;
  height: calc(100svh - var(--spacing-caption));
}
.zoom-in-enter-from,
.zoom-in-leave-to {
  top: var(--top);
  left: var(--left);
  width: var(--width);
  height: var(--height);
}
